.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../../assets/background.jpg);
    background-size: cover;
}

.individual-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7AE22;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    color: #000;
    width: 500px;
}

.individual-project img {
    margin: 0 15px;
    border-radius: 10px;
    /* object-fit: contain; */
}

.individual-project h5 {
    font-size: 1.5rem;
    margin: 0 15px;
    text-align: center;
    text-transform: capitalize;
}

.individual-project p {
    margin: 0 15px;
    /* overflow-wrap: break-word; */
    /* text-transform: capitalize; */
}



.individual-project button:nth-of-type(1) {
    background-color: #000;
    color: #fff;
}

.individual-project button:nth-of-type(2) {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.individual-project button:nth-of-type(3) {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.individual-project button:nth-of-type(2):hover {
    background-color: rgb(149, 198, 245);
    color: #000;
}

.individual-project button:nth-of-type(3):hover {
    background-color: red;
    color: #fff;
}

.projects-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.projects-details a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;

}


.projects-buttons {
    margin-left: 15px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.projects-buttons a {
    color: #000;
    text-decoration: none;
}

.projects-buttons a:hover {
    color: #000;
}

.projects-buttons button {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin-right: 5px;
}

@media only screen and (max-width:450px) {
    .individual-project {
        flex-direction: column;
        width: 300px;

    }

    .individual-project img {
        width: 80px;
        height: 80px;
        object-fit: fill;
    }

    .individual-project p {
        width: 250px;
    }

    .individual-project h5 {
        margin-top: 15px;
    }

    .projects-buttons {
        margin-top: 15px;
        flex-direction: row;
    }

    .projects-container {
        padding-top: 100px;
    }
}