.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
}

.navbar-left {
    display: flex;
}

.navbar-left a img {
    width: 100px;
    cursor: pointer;
    margin-right: 15px;
}

.navbar-left p {
    margin-right: 15px;
    text-align: center;
}

.navbar-list {
    display: flex;
    list-style-type: none;
}

.navbar-list li {
    margin-right: 15px;
    cursor: pointer;
}

.navbar-list a:hover {
    color: #E7AE22;
}

.navbar-list a {
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}


@media only screen and (max-width:450px) {
    .navbar-left p {
        display: none
    }

    .navbar-list {
        margin-left: 5px;
    }
}