/* .add-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.add-container h1 {
    padding: 25px;
    background-color: #000000;
    color: #fff;
    border: 3px solid #E7AE22;
    text-decoration: underline;
    text-decoration-color: #E7AE22;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.add-inner-container>input[type=text] {
    width: 90%;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    border-color: #E7AE22;
}

.add-descr-img {
    display: flex;
}

.add-descr-img>input[type=text] {
    width: 80%;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    border-color: #E7AE22;
}

.add-descr-img>input[type=file] {
    width: 20%;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    border-color: #E7AE22;
    display: flex;
    flex-direction: column;
} */


.add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

h1 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 2rem;
}

.add-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E7AE22;
    padding: 2rem;
    border-radius: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
}

.add-descr-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

input[type="file"] {
    margin-top: 1rem;
}